@media only screen and (max-width: 639px) {
    body {
        font-size: 16px;
    }

    #skip a:focus {
        top: 5em; /* Magic Number, about the size of the sidebar */
    }

    header {
        padding: 0.75em;
    }

    #call-to-action p {
        padding: 0.5rem;
    }

    #name {
        font-size: 1.5em;
        text-align: center;
    }

    .breadcrumb {
        font-size: 1em;
    }

    .icon, .slash {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-around;
        margin-top: 0.5em;
    }

    .main-container {
        flex-grow: 1;
    }

    #intro-video {
        width: 100%;
    }

    #contact-form fieldset {
        height: 50vh;
    }
}