@media only screen and (min-width: 640px) {
    body {
        font-size: 18px;
    }

    .page-container {
        display: flex;
        height: 100vh;
    }

    .header-container {
        display: flex;
        gap: 1em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 0.5em;
    }

    .header-container a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .icon {
        height: auto;
        margin-right: 0.2em;
    }

    .header-container a p {
        margin-top: 5px;
        text-align: center;
    }

    .main-container {
        flex-grow: 1;
    }
}