@media only screen and (min-width: 640px) {
    body {
        font-size: 18px;
    }

    #skip a:focus {
        left: 11em; /* Magic Number, about the size of the sidebar */
    }

    header {
        position: fixed;
        height: 100vh;
    }

    #call-to-action, #call-to-action > div {
        width: 100%;
    }

    .breadcrumb {
        font-size: 1em;
    }

    .page-container {
        display: flex;
        height: 100%;
    }

    .header-container {
        display: flex;
        gap: 1em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-top: 0.5em;
    }

    .header-container a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
    }

    .icon {
        height: auto;
        margin-right: 0.2em;
    }

    .header-container a p {
        margin-top: 5px;
        text-align: center;
    }

    .main-container {
        flex-grow: 1;
        margin-left: 10.25em; /* Magic Number, about the size of the sidebar */
    }

    #intro-video {
        width: 90%;
    }

    #contact-form fieldset {
        height: 50vh;
    }
}